body{font-family: "Lexend", sans-serif !important;}
.top-header .custom-nav-btn{color: #fff; background: #333; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333; border-radius:5px;}
.top-header .custom-nav-btn:hover{color: #333; background: #fff; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333; border-radius:5px;}
.home h1{font-size: 30px; font-weight: 600; color: #000;}
.custom-list{padding: 0px; overflow: auto; margin: 10px 0 25px 0 !important;}
.custom-list li {display: flex; width: 100%; align-items: center; font-weight: 400; padding:5px 0px; line-height: 24px; position: relative; color: #000; font-size: 15px; margin-bottom:6px;}
.custom-list li span {background: #000; width: 30px; height: 30px; border-radius: 100%; color: #fff; display: inline-flex; padding: 22px; align-items: center; justify-content: center; font-size: 24px; margin-right: 20px;}
.home p{font-size: 30px; font-weight: 600; color: #000; font-size: 15px;}
.home .custom-nav-btn{color: #fff; background: #333; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333;}
.home .custom-nav-btn:hover{color: #333; background: #fff; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333;}
.home p a{color: #000;}

.why-register-your-product h2{font-size: 30px; font-weight: 600; color: #000; text-align: center; position: relative; margin-bottom: 50px;}
.why-register-your-product h2::after {content: ""; border-bottom: solid 5px #000; position: absolute; width: 5%; padding-top: 10px !important; top: 30px !important; left: 50%;
    transform: translate(-50%, -50%); top: 40px !important;}
.why-register-your-product .boxes{background: #DBDBDB; padding:60px 10px; text-align: center; position: relative; margin-bottom: 20px;}
.why-register-your-product .boxes .box-img{top: 0px;}
.why-register-your-product .boxes h3{font-size: 20px; font-weight: 600; color: #000; text-align: center; position: relative; margin-bottom: 15px; margin-top: 20px;}


.banner{width:100%; position:relative;}

.banner h1{font-size:50px; font-weight:bold; top:30%; left:5%; position:absolute; color:#fff; line-height: 46px;}

.banner h2{font-size:26px; font-weight:bold; top:45%; left:5%;  position:absolute; color:#fff; line-height: 30px;}

.footer p{font-size: 12px; text-align: center; margin-bottom: 0px;}


.form-signin{top: -100px;  position: relative;}
.form-bg{background:#f1f1f1; border-radius:30px; filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.25)); padding:75px; min-height: 526px;}

.form-login-bg{background:#f1f1f1; border-radius:30px; filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.25));}

.form-login-bg h3{font-size: 13px; font-weight: 400; color: #000; text-align: left; position: relative; margin:0px;}

.form-signin .signin-left{padding: 10%;}
.form-signin .signin-left h1{font-size: 30px; font-weight: 600; color: #000; text-align: left; position: relative;}
/*.form-signin .signin-left h1::after {content: ""; border-bottom: solid 5px #000; position: absolute; width: 5%; padding-top: 10px !important; top: 30px !important; left: 50%; transform: translate(-50%, -50%); top: 40px !important;}*/
.form-signin .signin-left h2{font-size: 13px; font-weight: 400; color: #000; text-align: left; position: relative; margin-bottom: 30px; margin-top: 30px;}
.form-signin .signin-left h3{font-size: 13px; font-weight: 400; color: #000; text-align: left; position: relative; margin-bottom: 30px; margin-top: 30px;}
.form-signin .signin-btn{color: #fff; background: #333; border-radius: 5px; padding:12px 30px; text-decoration: none; border:0px; border: solid 1px #333;}
.form-signin .signin-btn:hover{color: #333; background: #fff; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333;}
.form-signin .signin-left p{font-size: 12px; font-weight: 300; color: #979797; text-align: left; margin-top: 20px;}
.form-signin .signin-left p a{color: #979797;}
.form-signin .signin-left .custom-btn-signin{color:#fff; background: #333333; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #000;}
.form-signin .signin-left .custom-btn-signin:hover{color: #333; background: #fff; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #000;}
.form-signin .signin-left .form-group label{text-align: left; color: #53515b; font-size: 15px; padding-bottom: 5px;}
.form-signin .signin-left .form-group input{text-align: left; border:1px solid #c1c1c1; border-radius:5px; padding: 10px; width:100%;}
.form-signin .signin-right img{border-radius: 0 30px 30px 0px;}
.form-signin .signin-left .form-group{margin-bottom:20px;}
.form-signin .form-control::placeholder {color: #6c757d; opacity: 1; font-weight: 300; font-size: 14px;}
.form-signin .signin-left .form-group input:focus{background: #fdfdfd; box-shadow: none; border: solid 1px #016734;}

.custom-btn2{color: #fff; background: #333; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333; cursor: pointer;}
.custom-btn2:hover{color: #333; background: #fff; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333;}

.custom-btn3{color: #fff; background: #707070; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333; cursor: pointer;}
.custom-btn3:hover{color: #fff; background: #000; border-radius: 5px; padding:10px 30px; text-decoration: none; border:0px; border: solid 1px #333;}



/*Dashboard*/
.pc-sidebar.pc-sidebar-custom .m-header {height: auto;}

.pc-sidebar.pc-sidebar-custom .m-header { padding: 16px 24px 16px 10px;  }

.pc-sidebar.pc-sidebar-custom .pc-navbar{padding:0 10px;}

.pc-sidebar.pc-sidebar-custom .pc-navbar .pc-link {color: #000; font-size: 15px; border-radius: 5px; background: #F1F5F7; margin-bottom: 15px; align-items: center; font-family: "Lexend", sans-serif; padding: 10px; display: flex;}

.pc-sidebar.pc-sidebar-custom .pc-navbar .pc-link:hover {background: #F1F5F7; border-left: solid 5px #000; border-radius: 5px;}

.pc-sidebar.pc-sidebar-custom .pc-navbar .pc-link::before {border-radius: 5px !important;}

.pc-sidebar .pc-navbar > .pc-item.active:not(.pc-hasmenu) > .pc-link::after {display: none !important;}

.pc-sidebar .pc-navbar > .pc-item.active > .pc-link {font-weight: 500;  color: #000 !important;  border-left: solid 5px #000;}

.pc-sidebar.pc-sidebar-custom .pc-navbar .pc-micon {display: inline !important;}

.pc-sidebar.pc-sidebar-custom .pc-navbar .pc-micon {margin-right: 10px;}

.pc-sidebar.pc-sidebar-custom .pc-micon {height: 29px;}

/*.pc-sidebar.pc-sidebar-custom {width: 320px;}

.pc-sidebar.pc-sidebar-custom .navbar-wrapper {width: 320px;  }

.pc-header-custom{left: 320px !important;}

.pc-container-custom{margin-left: 320px !important;}*/

.pc-container-custom h6{font-size: 22px; color: #000; font-weight: 500;}

.pc-container-custom .custom-form-label{font-size: 22px !important; color: #000; font-weight: 500;}

.custom-btn-blk{background: #000 !important; font-size: 20px; color: #fff !important; text-transform: uppercase; border: none; padding: 5px 20px; border-radius: 5px; width: 100%;}

.custom-btn-blk:hover{background: #333 !important; font-size: 20px; color: #fff !important; text-transform: uppercase; border: none; padding: 5px 20px; border-radius: 5px; width: 100%;}

.custom-btn-grey{background: #707070 !important; font-size: 20px; color: #fff !important; text-transform: uppercase; border: none; padding: 5px 20px; border-radius: 5px; width: 100%;}

.custom-btn-grey:hover{background: #000 !important; font-size: 20px; color: #fff !important; text-transform: uppercase; border: none; padding: 5px 20px; border-radius: 5px; width: 100%;}



/*.form-check-input{background: #EAEAEA !important; border: solid 2px #000 !important;}*/

.form-check-input:checked {background-color: #000 !important; border-color: #000 !important;}

#myDivMikasaDoors {display: none;}

.dropdown-user-profile .dropdown-item span{margin-left: 10px;}

.pc-footer-custom{margin-left: 320px !important; text-align: center; font-size: 14px;}

.order-status-bg{background:#595959; color:#fff;}
.order-status-flex{display: flex; align-items: center; justify-content: space-between;}

.paoc-popup-mheading {
  background: #a4a4a4;
  padding: 10px;
}
.paoc-popup-mheading h5{text-align:center; color:#000; font-size: 20px;}


/*Dashboard*/
